@import "tailwindcss";

#root {
  width: 100vw;
}

body {
  overflow-x: hidden;
  background-color: #ecfff6;
}

#hero {
  color: #ecfff6;
  user-select: none;
}

#about {
  user-select: none;
  color: #ecfff6;
}
