@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply bg-primary;
}

h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

p,
a,
input,
textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.nav-title {
    font-size: 32px;
}

.form-element {
    @apply bg-primary border-b-secondary border-b-2 w-full mt-4 h-10;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}

#hero {
    background: linear-gradient(to bottom, #D5ECC270 75%, #98DDCA70);
}

#dp {
    box-shadow: 5px 5px 200px 20px #27a102a0;
}
